/* print */
body, li {
    font-size: 10px !important;
    line-height: 1em !important;
}
h1, h2, h3 {
    line-height: 1em !important;
}
hr {
    page-break-after: always;
    border: none;
}
/* img */
#gas-mask01, #gas-mask02 {
    height: 200px !important;
    width: auto !important;
}
#img-train {
    height: 160px !important;
    width: auto !important;
}
blockquote {
    border: none !important;
}
