/* print */
body, li {
    font-size: 10px !important;
    line-height: 1em !important;
}
h1, h2, h3 {
    line-height: 1em !important;
}
hr {
    page-break-after: always;
    border: none;
}
/* img */
#gas-mask01, #gas-mask02 {
    height: 200px !important;
    width: auto !important;
}
#img-train {
    height: 160px !important;
    width: auto !important;
}
blockquote {
    border: none !important;
}
blockquote p {
    font-size: 12px !important;
}

/* character*/
#page-1  {
    margin-top: 1em !important;
}
#character-col {
    width: 34%;
}
#rightcol {
    margin-left: 1px !important;
}
.wrap-rightcol {
    padding-left: 3em;
}
.stats h4 {
    line-height: 2.5em !important;
    font-size: 10px !important;
}
#lightning-oil {
    border: none;
    font-size: 1.2em;
    margin-top: 2em;
}
