@font-face {
    font-family: 'Water Street';
    src: url('fonts/waterst.eot');
    src: local('☺'), url('fonts/waterst.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Acaslon";
    src: url("fonts/ACaslonPro-Regular.otf");
}
@font-face {
    font-family: "Acaslon Bold";
    src: url("fonts/ACaslonPro-Bold.otf");
}
@font-face {
    font-family: "Acaslon Italic";
    src: url("fonts/ACaslonPro-Italic.otf");
}
@font-face {
    font-family: "Acaslon Bold Italic";
    src: url("fonts/ACaslonPro-BoldItalic.otf");
}
h1, h2, h3, h4, h5, h6 { font-family: 'Water Street', sans-serif !important;}
h1 { font-size: 2.88em !important;}
h2 { font-size: 1.9em !important;}
h3 { font-size: 1.44em !important;}
body {font-family: "Acaslon", serif !important; }
em, blockquote p, q { font-family: "Acaslon Italic", serif !important;}
blockquote p {font-size: 14px !important;}
strong {font-family: "Acaslon Bold", serif !important; }
strong > em, em > strong { font-family: "Acaslon Bold Italic", serif !important; }
code { font-family: "Acaslon", serif !important; font-variant: small-caps;}

/* img */
#gas-mask01, #gas-mask02 {
    height: 310px !important;
}
#img-train {
    width: 100%;
}

/* table layouts*/
p.table-headline-right {
    margin-top: 10px !important;
    text-align: right !important;
    line-height: 40px !important;
}

/* character */
#character {
    font-size: .8em;
    line-height: 1.3em;
}
#character ul {
    list-style-type: none;
    margin: 0;
}
#character li {
    line-height: 1.3em;
}
#character li:before {
    content: "☐ ";
}
#lightning-oil {
    font-variant: small-caps;
    font-size: 14px;
}
#character .bottom-border {
    border-bottom: 3px solid black;
}
#character-outer {
    border: 2px solid black;
    padding: 1px;
}
#character-inner {
    border: 1px solid black;
}
#character-inner, #character-outer {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.double-bottom-border {
    border-bottom: 3px double black;
}
.wrap {
    padding-left: 5px;
    padding-right: 5px;
}
.wrap-top {
    padding-top: 5px;
}
.stats h4 {
    border: 1px solid black;
    padding-left: 5px;
}
.lightning-oil {
    border-top: 3px double black;
    border-right: 3px double black;
    border-top-right-radius: 1em;
    width: 75%;
    padding: 2px 10px 1px 5px;
    margin-bottom: 0;
    margin-left: 0;
}
