@font-face {
	font-family: 'Water Street';
	src: url('fonts/waterst.eot');
	src: local('☺'), url('fonts/waterst.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: "Libre Caslon";
    src: url("fonts/LibreCaslonText-Regular.otf");
}
@font-face {
    font-family: "Libre Caslon Bold";
    src: url("fonts/LibreCaslonText-Bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: "Libre Caslon Italic";
    src: url("fonts/LibreCaslonText-Italic.otf");
    font-style: italic, oblique;
}
h1, h2, h3, h4, h5, h6 { font-family: 'Water Street', sans-serif !important;}
h1 { font-size: 2.88em !important;}
h2 { font-size: 1.9em !important;}
h3 { font-size: 1.44em !important;}
body {font-family: "Libre Caslon", serif !important; }
em, blockquote p, q { font-family: "Libre Caslon Italic", serif !important;}
blockquote p {font-size: 14px !important;}
strong {font-family: "Libre Caslon Bold", serif !important; }
strong > em, em > strong { font-family: "Libre Caslon", serif !important; font-style: italic; font-weight: bold;}
code { font-family: "Libre Caslon", serif !important; font-variant: small-caps;}
/* img */
#gas-mask01, #gas-mask02 {
    height: 310px !important;
}
#img-train {
    width: 100%;
}

/* table layouts*/
p.table-headline-right {
    margin-top: 10px !important;
    text-align: right !important;
    line-height: 40px !important;
}
