<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ghost Lines VF</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css" media="screen,print">
	<link rel="stylesheet" href="css/print.css" media="print">
</head>
<body>
<div class="container-fluid">
<div class="row-fluid">
	<div class="span4">{{ page_1_col_1 }}</div>
	<div class="span4 text-center">{{ page_1_col_2 }}</div>
	<div class="span4">{{ page_1_col_3 }}</div>
</div>
<hr>
<div class="row-fluid">
	<div class="span4">{{ page_2_col_1 }}</div>
	<div class="span4">{{ page_2_col_2 }}</div>
	<div class="span4">{{ page_2_col_3 }}</div>
</div>
<hr>
<div class="row-fluid">
	<div class="span3">{{ page_3_col_1 }}</div>
	<div class="span3">{{ page_3_col_2 }}</div>
	<div class="span3">{{ page_3_col_3 }}</div>
	<div class="span3">{{ page_3_col_4 }}</div>
</div>
</div>
</body>
</html>
